*{
    margin: 0;
    padding: 0;
}
header{
    font-family: "Reddit Sans Condensed", sans-serif;/* fuente de google fonts */
    background-color: rgb(245, 243, 243);
    width: 100%;
    height: auto;
}
main{
    font-family: "Reddit Sans Condensed", sans-serif;/* fuente de gooogle fonts */
    background-color: rgb(136, 136, 134);
    width: 100%;
    height:auto;    
}
footer{
    font-family: "Reddit Sans Condensed", sans-serif;/* fuente de google fonts */
    background-color: black;
    width: 100%;
    height: auto;
}
/* ==========Header======================== */
/* Estilo para la barra de navegación */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a0a0a;
    z-index: 1000;
}

/* Estilo para el logotipo */
.navbar img {
    height: 80px;;
    margin-left: 80px;
}
/* Animacion de envio gratis*/
.contenedor-envios{
    position: relative;
    width: 30%;
    height: auto;   
}

.envios-gratis{
    color: aliceblue;
    font-size:1.2rem;
    animation:cambiaColor 3s infinite ;
}
/* imagen - animaciones*/
.contenedor-envios img{
    width: 40px;  
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    animation: mover 4s infinite linear;
}
@keyframes mover {
    0% {
        left: 50%; 
    }
    100% {
        left: calc(100% - 100px); 
    }
}
@keyframes cambiaColor {
    0% {
        color: black;
    }
    25%{
        color: #727171;
    }
    50% {
        color: yellow;
    }
    75%{
        color: #727171;
    }
    100% {
        color: black;
    }
}


/* Estilo para los enlaces de la barra de navegación */
.navbar a, .desplegable {
    font-size: 1.5rem;
    color: #f2f2f2;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

/* Estilo para la lista desplegable */
.desplegable {
    position: relative;
    display: inline-block;
}

/* Estilo para el botón de la lista desplegable */
.desplegable .desplegableBtn {
    font-size: 1.5rem;  
    border: none;
    outline: none;
    color: white;
    padding: 1rem;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
/* Cambiar el color de los enlaces al pasar el mouse */
.navbar a:hover, .despegable:hover .desplegableBtn {
    background-color: #ddd;
    color: black;
}
/* Estilo para los elementos de la lista desplegable */
.desplegableContenido {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Estilo para los enlaces de la lista desplegable */
.desplegableContenido a {
    color: black;
    padding: 2vh;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Mostrar la lista desplegable al pasar el mouse */
.desplegable:hover .desplegableContenido {
    display: block;
}

/* Cambiar el color de fondo del despliegue de lista al pasar el mouse */
.desplegableContenido a:hover {
    background-color: #d3d3d3; 
}
/* ==========Main======================== */
/* Ofertas del dia */
.contenedor-titulo{
    background-color: #ddd;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
}
/* contenedor de ofertas */
.contenedor-ofertas {
    background-color: transparent;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
/* titulo oferta/animaciom */
.titulo-oferta {
    color: black;
    animation:cambiaColor 3s infinite ;
}
/* transicion de colores en la animacion */
@keyframes cambiaColor {
    0% {
        color: black;
    }
    25%{
        color: #727171;
    }
    50% {
        color: yellow;
    }
    75%{
        color: #727171;
    }
    100% {
        color: black;
    }
}


/*contenedor de las imagenes dividido en 4 como limite maximo */
.producto {
    width: calc(100% / 4); 
    border: 10px solid #ccc; 
    padding: 10px; 
    text-align: center; 
    box-sizing: border-box;
    transition: transform 0.3s ease;
    
}
/*rotacion y perspectiva del div */
.producto:hover {
    transform: perspective(500px) rotateX(3deg);
}
/*tamaño imagenes */
.producto img {
    max-width: 100%; 
    height:70%; 
}
/*precio */
.precio {
    margin-top: 10px; 
    font-weight: bold; 
}

/* Calzado niño*/
.contenedor-niños{
    background-color: transparent;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

/* Calzado mujer */
.contenedor-mujer{
    background-color: transparent;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

/* Calzado hombre */
.contenedor-hombre{
    background-color: transparent;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

/* ==========Footer======================== */
/* footer primera seccion */
.primera-seccion{
    background-color: #686767;
    width: 100%;
    height: auto;
    display: flex;
    padding: 0px;
}
/* Subdivision margen derecha del formulario dentro del div */
.formulario {
    flex: 1;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Subdivision margen izquierda de ubicacion geografica dentro del div */
.ubicacion-geografica{
    flex: 1;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
}
.ubicacion-geografica h3{
    color: aliceblue;
    margin-bottom: 20px;
}
/* Estilo para el formulario de contacto */
.formulario-contacto {
    background-color: black ; 
    color: #FFF; 
    padding: 20px;
    border-radius: 10px;
}

/* Estilo para los campos de entrada */
.formulario-contacto input[type="text"],
.formulario-contacto input[type="email"],
.formulario-contacto input[type="tel"],
.formulario-contacto textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid white; 
    border-radius: 5px;
    background-color: transparent; 
    color: #FFF; 
}
/* Estilo para select paises */
.paises{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid white; 
    border-radius: 5px;
    background-color: transparent; 
    color:#727171 ; 
}

/* Estilo para el botón de enviar */
.formulario-contacto button[type="submit"] {
    background-color: #727171; 
    color: #FFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}
 /* Cambio de color al pasar el mouse */
.formulario-contacto button[type="submit"]:hover {
    background-color: #312e2e; 
}

/* footer segunda seccion */

.footer-arriba{
    display: flex;
    justify-content:space-around;
    align-items:normal;
    background-color: black;
    color: white;
    padding: 80px 0;
}
.footer-section {
    text-align: center;
}
/* Ajuaste tamaño de iconos de tarjetas */
.footer-section img {
    width: 50px;  
    height: auto; 
}
/* Organizador de seccion dentro de footer */
.footer-izquierda, .footer-centro, .footer-derecha {
    flex: 1;
}
/* Alineamiento de footer central */
.footer-center {
    text-align: center;
}
/* Display de iconos de MP, efectivo y rapipago */
.iconosDiferenciales {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

/* footer seccion final*/
.firma-footer{
    width: 100%;
    height: auto;
    display: flex;
    align-items:center;
    justify-content:center;
}
/* parrafo e icono para la  firma*/
.firma-footer p{
    color: white;
    font-size: 15px;
}
.iconos-firma {
    padding-left: 30px;
}
.iconos-firma img{
    width: 30px;  
    height: auto;
}
/*==========================medias Q===========================*/

    /* =========header==========*/
    /* Estilo para pantallas menores a 600px */
@media (min-width: 1px) and (max-width: 600px) {
    /* Estilo para el logotipo en pantallas pequeñas */
    .navbar img {
        height: 60px;
        margin-left: 10px; /* Reducimos el margen para aprovechar mejor el espacio */
    }

    /* Estilo para el contenedor de envíos en pantallas pequeñas */
    .contenedor-envios {
        display: none; /* Ocultamos el contenedor de envíos en pantallas pequeñas */
    }

    /* Estilo para los enlaces de la barra de navegación en pantallas pequeñas */
    .navbar a, .desplegable {
        font-size: 1rem; /* Reducimos el tamaño del texto */
    }

    /* Estilo para el botón de la lista desplegable en pantallas pequeñas */
    .desplegable .desplegableBtn {
        font-size: 1rem; /* Reducimos el tamaño del texto */
        padding: 0.5rem; /* Reducimos el padding */
    }

    /* Estilo para los elementos de la lista desplegable en pantallas pequeñas */
    .desplegableContenido {
        min-width: 120px; /* Reducimos el ancho mínimo */
    }

    /* Estilo para los enlaces de la lista desplegable en pantallas pequeñas */
    .desplegableContenido a {
        padding: 1vh; /* Reducimos el padding */
    }
    /* =========main==========*/
    main{
        width: 100%;
        padding-top: 15%;
    }
    .titulo-oferta, .titulo-calzados{
        font-size: 25px;
    }
    .contenedor-titulo{
        padding-top: 15%;
    }
    .producto h3{
        font-size: 15px;
    }
    .producto h4{
        font-size: 13px;
    }
    .producto p{
        font-size: 10px;
    }
    .producto {
        width: calc(100% / 2); 
        border: 10px solid #ccc; 
        padding: 10px; 
        text-align: center; 
        box-sizing: border-box;
        transition: transform 0.3s ease;
        
    }

    /* =========footer==========*/

    /* Ajustes para la primera sección del footer */
    .primera-seccion {
        flex-direction: column; 
        align-items: center; 
        padding-bottom: 10px; 
    }

    /* Ajustes para el formulario */
    .formulario {
        width: 100%; 
        margin-bottom: 20px; 
    }

    /* Ajustes para la ubicación geográfica */
    .ubicacion-geografica {
        width: 100%; 
    }

    /* Ajustes para el mapa en pantallas pequeñas */
    .mapa iframe {
        width: 70%; 
        height: auto;
    }

    /* Ajustes para la segunda sección  */
    .footer-arriba {
        flex-direction: column; 
        padding: 20px; 
    }

    /* Ajustes para los iconos de medios de pago  */
    .footer-section img {
        width: 40px; 
        margin: 5px; 
    }

    /* Ajustes para los iconos de redes sociales  */
    .footer-centro img {
        width: 30px; 
        margin: 5px; 
    }

    /* Ajustes para los iconos de contactos  */
    .footer-derecho img {
        width: 30px; 
        margin: 5px; 
    }

    /* Ajustes para la firma del footer  */
    .firma-footer p {
        font-size: 12px; 
        text-align: center; 
    }

}
   

